<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <header>Sagar Sharma : N01481341 and Abhishek Kalhan : N01495445</header>
    {{{body}}}
    <footer>sgrsharma720@gmail.com and abhishek.kalhan@gmail.com</footer>
  </body>
</html>