<form method="POST" action="/api/insert/data">
  <input type="text" name="page" placeholder="page" />
  <br />
  <input type="text" name="perPage" placeholder="perPage" />
  <br />
  <input type="text" name="borough" placeholder="borough" />
  <br />
  <input type="submit" />
</form>